<div class="col-sm-8 blog-main">
  <h2> <%= @blog.title %>  </h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> 
  <p>
    <%= @blog.body %>
  </p>
  
   
  <%= render 'comments/comment_form' %>
  
  <!--look for a parital that has the name _comment -->
  <!--bring all the comments for the blog, and we do not have -->
  <!--concept of @comments here, yet we can access
  @blog.comments-->
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div> 

